<div class="bodyContainer">
  <div class="bodyContainer__left">
    <div class="bodyContainer__leftTop">
      <p class="bodyContainer__leftTop__heading">Regular expression</p>
      <div class="bodyContainer__leftTop__inputArea">
        <button id="btn-left">/</button>
        <input type="text" placeholder="insert your regular expression here"/>
        <button id="btn-right" (click)="toggleFlags()">/
          <p>{{options}}</p>
        </button>
      </div>
      <div class="bodyContainer__leftTop__toggleOpt" id="toggleOpt">
        <app-regex-options></app-regex-options>
      </div>
    </div>
    <div class="bodyContainer__leftBottom">
      <p class="bodyContainer__leftBottom__heading">Regular expression</p>
      <div class="bodyContainer__leftBottom__inputArea">
        <textarea placeholder="insert your test string here"></textarea>
      </div>
    </div>
  </div>
  <div class="bodyContainer__right">
    <div class="bodyContainer__rightTop">
      <div class="flexContainer">
        <h5>Status : </h5>
        <h5>Loading . .</h5>
      </div>
      <div class="loader">
        <span class="loading__anim"></span>
      </div>
    </div>
    <div class="bodyContainer__rightBottom">
      <h4>Explanation</h4>
    </div>
  </div>
</div>
