<div class="options__container">
  <div class="heading">
    <h4>Regex Flags</h4>
  </div>
  <div class="body">
    <div class="flagSection">
      <input type="checkbox" class="chb chb-1" id="chb-1"/>
      <label for="chb-1">global</label>
    </div>

    <div class="flagSection">
      <input type="checkbox" class="chb chb-1" id="chb-2"/>
      <label for="chb-2">multi line</label>
    </div>

    <div class="flagSection">
      <input type="checkbox" class="chb chb-1" id="chb-3"/>
      <label for="chb-3">insensitive</label>
    </div>

    <div class="flagSection">
      <input type="checkbox" class="chb chb-1" id="chb-4"/>
      <label for="chb-4">single line</label>
    </div>

    <div class="flagSection" id="last">
      <input type="checkbox" class="chb chb-1" id="chb-5"/>
      <label for="chb-5">unicode</label>
    </div>

  </div>
</div>
